In [4]:
import pyodbc
import pandas as pd

server = 'LAPTOP-LFBT0G3K'
database = 'DataWarehouse'
driver = '{ODBC Driver 18 for SQL Server}' # You've confirmed this is installed and the one you want to use

cnxn = None

In [ ]:
try:
    # Construct the connection string using the specific driver
    connection_string = (
        f'DRIVER={driver};'
        f'SERVER={server};'
        f'DATABASE={database};'
        'Trusted_Connection=yes;' # Using Windows Authentication
        'Encrypt=yes;'            # Force encryption
        'TrustServerCertificate=yes;' # Crucial: Tell the client to trust the server's certificate
    )

    print(f"Attempting to connect to {server}/{database} using driver: {driver}")
    cnxn = pyodbc.connect(connection_string)
    print("Successfully connected to SQL Server!")

    # --- Data Retrieval for dim_customer ---
    sql_query_customer = "SELECT TOP 100 * FROM gold.dim_customer;"
    print(f"\nExecuting query: '{sql_query_customer}'")
    df_customer = pd.read_sql(sql_query_customer, cnxn)
    print("\nFirst 5 rows of gold.dim_customer data:")
    print(df_customer.head())

    # --- Data Retrieval for fact_sales ---
    sql_query_sales = "SELECT TOP 100 * FROM gold.fact_sales;"
    print(f"\nExecuting query: '{sql_query_sales}'")
    df_sales = pd.read_sql(sql_query_sales, cnxn)
    print("\nFirst 5 rows of gold.fact_sales data:")
    print(df_sales.head())

    # --- Data Retrieval for dim_products ---
    sql_query_products = "SELECT TOP 100 * FROM gold.dim_products;"
    print(f"\nExecuting query: '{sql_query_products}'")
    df_products = pd.read_sql(sql_query_products, cnxn)
    print("\nFirst 5 rows of gold.dim_products data:")
    print(df_products.head())

except pyodbc.Error as ex:
    sqlstate = ex.args[0]
    print(f"Connection or query error: {ex}")
    if 'IM002' in sqlstate:
        print(f"  --> Driver '{driver}' not found or improperly configured.")
    elif '08001' in sqlstate:
        print(f"  --> Connection failed. Verify server name, database, and network connectivity. This specific error often relates to SSL/TLS handshake.")
    elif '28000' in sqlstate:
        print(f"  --> Authentication error. Ensure your Windows user has appropriate SQL Server permissions.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

finally:
    if cnxn:
        cnxn.close()
        print("\nConnection closed.")

Attempting to connect to LAPTOP-LFBT0G3K/DataWarehouse using driver: {ODBC Driver 18 for SQL Server}
Successfully connected to SQL Server!

Executing query: 'SELECT TOP 100 * FROM gold.dim_customer;'

C:\Users\Ayush\AppData\Local\Temp\ipykernel_1500\3684704458.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_customer = pd.read_sql(sql_query_customer, cnxn)
C:\Users\Ayush\AppData\Local\Temp\ipykernel_1500\3684704458.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sales = pd.read_sql(sql_query_sales, cnxn)

First 5 rows of gold.dim_customer data:
   customer_key  customer_id first_name last_name    country marital_status  \
0             1        11000        Jon      Yang  Australia        Married
1             2        11001     Eugene     Huang  Australia         Single
2             3        11002      Ruben    Torres  Australia        Married
3             4        11003    Christy       Zhu  Australia         Single
4             5        11004  Elizabeth   Johnson  Australia         Single

   gender   birthdate create_date
0    Male  1971-10-06  2025-10-06
1    Male  1976-05-10  2025-10-06
2    Male  1971-02-09  2025-10-06
3  Female  1973-08-14  2025-10-06
4  Female  1979-08-05  2025-10-06

Executing query: 'SELECT TOP 100 * FROM gold.fact_sales;'

First 5 rows of gold.fact_sales data:
  order_number  product_key  customer_key  order_date shipping_date  \
0      SO43697           20         10769  2010-12-29    2011-01-05
1      SO43698            9         17390  2010-12-29    2011-01-05
2      SO43699            9         14864  2010-12-29    2011-01-05
3      SO43700           41          3502  2010-12-29    2011-01-05
4      SO43701            9             4  2010-12-29    2011-01-05

     due_date  sales_amount  quantity  price
0  2011-01-10          3578         1   3578
1  2011-01-10          3400         1   3400
2  2011-01-10          3400         1   3400
3  2011-01-10           699         1    699
4  2011-01-10          3400         1   3400

Executing query: 'SELECT TOP 100 * FROM gold.dim_products;'

First 5 rows of gold.dim_products data:
   product_key  product_id product_number               product_name  \
0            1         210     FR-R92B-58  HL Road Frame - Black- 58
1            2         211     FR-R92R-58    HL Road Frame - Red- 58
2            3         348     BK-M82B-38     Mountain-100 Black- 38
3            4         349     BK-M82B-42     Mountain-100 Black- 42
4            5         350     BK-M82B-44     Mountain-100 Black- 44

  category_id    category     subcategory maintenance  cost product_line  \
0       CO_RF  Components     Road Frames         Yes     0         Road
1       CO_RF  Components     Road Frames         Yes     0         Road
2       BI_MB       Bikes  Mountain Bikes         Yes  1898     Mountain
3       BI_MB       Bikes  Mountain Bikes         Yes  1898     Mountain
4       BI_MB       Bikes  Mountain Bikes         Yes  1898     Mountain

   start_date
0  2003-07-01
1  2003-07-01
2  2011-07-01
3  2011-07-01
4  2011-07-01

Connection closed.

C:\Users\Ayush\AppData\Local\Temp\ipykernel_1500\3684704458.py:42: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_products = pd.read_sql(sql_query_products, cnxn)

In [2]:
# Importing Necessary libraries
import pyodbc
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import urllib
from sqlalchemy import create_engine

server = 'LAPTOP-LFBT0G3K'
database = 'DataWarehouse'
driver = '{ODBC Driver 18 for SQL Server}'

In [5]:
try:
    quoted_driver = urllib.parse.quote_plus(driver)
    connection_uri = (
        f'mssql+pyodbc:///?odbc_connect='
        f'DRIVER={quoted_driver};'
        f'SERVER={server};'
        f'DATABASE={database};'
        f'Trusted_Connection=yes;'
        f'Encrypt=yes;'
        f'TrustServerCertificate=yes;'
    )

    print(f"Attempting to connect to {server}/{database} using driver: {driver}")
    engine = create_engine(connection_uri)
    print("Successfully connected to SQL Server!")

        # --- Data Retrieval for dim_customer ---
    sql_query_customer = "SELECT TOP 100 * FROM gold.dim_customer;"
    print(f"\nExecuting query: '{sql_query_customer}'")
    df_customer = pd.read_sql(sql_query_customer, engine)
    print("\nFirst 5 rows of gold.dim_customer data:")
    print(df_customer.head())

    # --- Data Retrieval for fact_sales ---
    sql_query_sales = "SELECT TOP 100 * FROM gold.fact_sales;"
    print(f"\nExecuting query: '{sql_query_sales}'")
    df_sales = pd.read_sql(sql_query_sales, engine)
    print("\nFirst 5 rows of gold.fact_sales data:")
    print(df_sales.head())

    # --- Data Retrieval for dim_products ---
    sql_query_products = "SELECT TOP 100 * FROM gold.dim_products;"
    print(f"\nExecuting query: '{sql_query_products}'")
    df_products = pd.read_sql(sql_query_products, engine)
    print("\nFirst 5 rows of gold.dim_products data:")
    print(df_products.head())

except Exception as e:
    print(f"An unexpected error occurred: {e}")

Attempting to connect to LAPTOP-LFBT0G3K/DataWarehouse using driver: {ODBC Driver 18 for SQL Server}
Successfully connected to SQL Server!

Executing query: 'SELECT TOP 100 * FROM gold.dim_customer;'

First 5 rows of gold.dim_customer data:
   customer_key  customer_id first_name last_name    country marital_status  \
0             1        11000        Jon      Yang  Australia        Married
1             2        11001     Eugene     Huang  Australia         Single
2             3        11002      Ruben    Torres  Australia        Married
3             4        11003    Christy       Zhu  Australia         Single
4             5        11004  Elizabeth   Johnson  Australia         Single

   gender   birthdate create_date
0    Male  1971-10-06  2025-10-06
1    Male  1976-05-10  2025-10-06
2    Male  1971-02-09  2025-10-06
3  Female  1973-08-14  2025-10-06
4  Female  1979-08-05  2025-10-06

Executing query: 'SELECT TOP 100 * FROM gold.fact_sales;'

First 5 rows of gold.fact_sales data:
  order_number  product_key  customer_key  order_date shipping_date  \
0      SO43697           20         10769  2010-12-29    2011-01-05
1      SO43698            9         17390  2010-12-29    2011-01-05
2      SO43699            9         14864  2010-12-29    2011-01-05
3      SO43700           41          3502  2010-12-29    2011-01-05
4      SO43701            9             4  2010-12-29    2011-01-05

     due_date  sales_amount  quantity  price
0  2011-01-10          3578         1   3578
1  2011-01-10          3400         1   3400
2  2011-01-10          3400         1   3400
3  2011-01-10           699         1    699
4  2011-01-10          3400         1   3400

Executing query: 'SELECT TOP 100 * FROM gold.dim_products;'

First 5 rows of gold.dim_products data:
   product_key  product_id product_number               product_name  \
0            1         210     FR-R92B-58  HL Road Frame - Black- 58
1            2         211     FR-R92R-58    HL Road Frame - Red- 58
2            3         348     BK-M82B-38     Mountain-100 Black- 38
3            4         349     BK-M82B-42     Mountain-100 Black- 42
4            5         350     BK-M82B-44     Mountain-100 Black- 44

  category_id    category     subcategory maintenance  cost product_line  \
0       CO_RF  Components     Road Frames         Yes     0         Road
1       CO_RF  Components     Road Frames         Yes     0         Road
2       BI_MB       Bikes  Mountain Bikes         Yes  1898     Mountain
3       BI_MB       Bikes  Mountain Bikes         Yes  1898     Mountain
4       BI_MB       Bikes  Mountain Bikes         Yes  1898     Mountain

   start_date
0  2003-07-01
1  2003-07-01
2  2011-07-01
3  2011-07-01
4  2011-07-01